<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Suite</title>

    @* Website Icon *@
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/site.webmanifest">

    <partial name="Imports/_VendorsCSS" />

    <script src="~/js/config.js"></script>
</head>
<body>
<main class="main" id="top">
    <partial name="_Navigation"/>
    <div class="content">
        <div class="d-flex content-min-h">
            @RenderBody()
        </div>

        <partial name="_Footer"/>
    </div>
</main>
    <partial name="Imports/_VendorsJS" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/phoenix.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>